body {
    margin:0 auto;
    text-align:center;
    font-family:arial;
}

h1 {
    font-weight:100!important;
    font-size:26px;
    color:#1ECD97;
    }

#wrap {
    display: none;
}

#btnStart:hover {
    background-color: #1ECD97;
    color:white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#btnStop:hover {
    background-color: #1ECD97;
    color:white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#buttonOptionOne {
    border:none;
    background-color: #eee;
    width:350px;
    height:65px;
    font-size:14px;
    border-radius:8px;
    outline:none;
    cursor:pointer;
}

#buttonOptionOne:hover {
    width:370px;
    height:75px;
    background-color: #1ECD97;
    color:white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#buttonOptionTwo {
    border:none;
    background-color: #eee;
    width:350px;
    height:65px;
    font-size:14px;
    border-radius:8px;
    outline:none;
    cursor:pointer;
}

#buttonOptionTwo:hover {
    width:370px;
    height:75px;
    background-color: #1ECD97;
    color:white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.active{
    background-color: #1ECD97;
    color:white;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.image {
    width:30px;
    height:30px;
}
  /* float left or right */
.imagespan {
    float:right;
}
  /* float left or right */
.text {
    font-size:24px;
    font-weight:100;
    float:none;
}
  /* submit button */
#readyToListen {
    margin: 0 auto;
    height: 100%;
}

#btnListen {
    background: white;
    letter-spacing:3px;
    cursor:pointer;
    box-shadow: inset 0 0 0 2px #1ECD97;
    font-weight:300;
    color: #1ECD97;
    border: 0;
    width: 350px;
    height: 65px;
    font-size: 18px;
    border-radius: 8px;
    -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    outline: 0;
}

#btnListen:hover {
    background: #1ECD97;
    color: white;
}

#btnListen .btn-icon {
    text-align: center;
    display: none;
}

#btnlisten:active .btn-text {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}

.btn-icon {
    margin: 0 auto;
}

.btn-text {
    position: relative;
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    z-index: 9999;
}

.btnlisten.complete {
    background-color:#1ECD97;
    background-repeat: no-repeat;
    background-position: center;
    background-size:8% 40%;
}

.btnListen.complete .btn-text {
    display: none;
}

.btnListen.complete .btn-icon {
    display: block;
}

.btnListen.shrink {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 8px #e1e1e1;
    padding: 0;
}

.btnListen.shrink:hover {
    background: white;
}

.btnListen.shrink .btn-text {
    opacity: 0;
}

.loader {
    margin: 0 auto;
    background:white;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 75px;
    display: block;
    margin-top:-75px;
    opacity: 0;
}

.loader.active {
    z-index: 9999;
    opacity: 1;
}